
@{
    ViewBag.Title = "Listado";
    ViewBag.SubTitle = "Proveedor";
    ViewBag.ControllerGeneral = "Devoluciones";
    ViewBag.PrimaryColor = "pink";
    ViewBag.NavExtendedColor = "blue darken-1";
}

<div class="devoluciones">
    <div class="devoluciones-content row">
        <nav class="breadcrumb-nav nav-extended @ViewBag.NavExtendedColor">
            @Html.Partial("_breadcrumbPartial")
        </nav>
        <div class="devoluciones-opciones col l12">
            <div class="option-bar col l6 offset-l3 white z-depth-1 border-radius-2">
                <form class="col l10">
                    <div class="input-field col l8">
                        <input id="search" type="search" placeholder="Buscar Devolucion" required>
                    </div>
                    <div class="input-field col l3 filtro">
                        <select>
                            <option value="" selected>Todo</option>
                            <option value="1">Factura</option>
                            <option value="3">Fecha</option>
                        </select>
                    </div>
                    <div class="col l1 center search">
                        <a class="left tooltipped waves-effect waves-block" data-position="bottomMio" data-delay="50" data-tooltip="Buscar"><i class="material-icons">search</i></a>
                    </div>
                </form>
                <div class="col l2 center-align icons">
                    <a class="tooltipped last" data-position="bottomMio" data-delay="50" data-tooltip="Vista de cuadricula" onclick="articulos(0)"><i class="material-icons">view_module</i></a>
                    <a class="tooltipped" data-position="bottomMio" data-delay="50" data-tooltip="Imprimir"><i class="material-icons">print</i></a>
                </div>
            </div>
        </div>
        <div class="listado-devoluciones container-mio">
            <table class="bordered highlight white z-depth-1">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Factura</th>
                        <th>Fecha</th>
                        <th>Articulos</th>
                        <th>Cantidad Total</th>
                        <th>Proveedor</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <aside class="devoluciones-details show row white z-depth-1">
        <div class="row z-depth-1-half">
            <div class="col l12 blue darken-1 title">
                <h5><i class="material-icons left">business_center</i>Detalle de Devolucion<i class="material-icons right info-sidenav">clear</i></h5>
            </div>
            <div class="col l12 blue darken-1">
                <ul class="tabs blue darken-1">
                    <li class="tab col l6"><a class="active" href="#general">General</a></li>
                    <li class="tab col l6"><a href="#detalle">Detalle</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div id="general" class="general col s12"></div>
            <div id="detalle" class="detalle col s12"></div>
        </div>
    </aside>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light blue-grey darken-4 pulse" href="@Url.Action("NuevaProveedor","Devoluciones")"><i class="material-icons">add</i></a>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/listadevproveedor")
}
