@model AmilcarComercial.Models.Tbl_Marca

@{ 
    Layout = null;
}

<div class="marca-editar cyan">
    <div class="row white z-depth-1">
        <h4 class="grey-text text-darken-3 left-align"><i class="material-icons">edit</i>Editar Marca</h4>
    </div>
    <div class="modal-content row white-text">
        <div class="col l6">
            <figure>
                <img src="~/Content/images/marcas/@Model.imagen" class="responsive-img" />
                <figcaption class="center-align">Logo Actual de Marca</figcaption>
            </figure>
        </div>
        <div class="col l6">
            @using (Ajax.BeginForm("Edit", "Marcas", new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "sucursales",
                InsertionMode = InsertionMode.Replace,
                OnSuccess = "OnEdit"
            }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.id_Marca)
                <div class="input-field col l12">
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                    <label for="nombre">Nombre de la Marca</label>
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                </div>
                <div class="col l12">
                    <span><strong>Estado:</strong></span>
                </div>
                <div class="col l12 center-align">
                    <div class="switch">
                        <label class="white-text">
                            Inactiva
                            <input type="checkbox">
                            <span class="lever"></span>
                            Activa
                        </label>
                    </div>
                </div>
                <div class="acciones col l12 right-align">
                    <button class="btn btn-flat white red-text" type="reset" onclick="$('#editar').modal('close')">Cancelar</button>
                    <button class="btn btn-flat white blue-text" type="submit">Guardar</button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.input-field :input').focus();
    });
</script>
