body {
    font-family: Roboto, sans-serif;
}

    body main.layout .content {
        padding-left: 260px;
        background-color: #eceff1;
    }

@media only screen and (max-width : 992px) {
    body main.layout .content {
        padding-left: 0;
    }
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.content nav{
    box-shadow: none !important ; 
}
.content nav .nav-wrapper{
    padding-left: 25px;
}

.login {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #EB3349; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F45C43, #EB3349); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-container{
    width: 60%;
}

.login-info {
    background-color: #151532;
}

.border-radius {
    border-radius: 5px !important;
}

/* label color */
.input-field label {
    color: #000;
}
/* label focus color */
.input-field input[type=password]:focus + label {
    color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}
        

.nuevo-usuario{
    padding: 30px 40px 5px 40px;
}

.agregar-avatar{
    margin-top: -30px;
}

.divider-mio {
    width: 100%;
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}

.nuevo-usuario span{
    font-weight: bold;
}

.titulo-form{
    width: 100%;
    margin-top: 40px;
    padding: 20px;
}