@model AmilcarComercial.Models.Tbl_Categorias

@{
    Layout = null;
}

<div class="cliente-eliminar white">
    <div class="row blue z-depth-1">
        <h4 class="white-text left-align"><i class="material-icons">add_box</i>Eliminar Categoria</h4>
    </div>
    <div class="modal-content row grey-text text-darken-3">
        <div class="row">
            <p>Esta seguro que sea eliminar el elemento <strong>"@Model.Nombre"</strong>?</p>
            <p>Por motivos de seguridad los elementos nose eliminan, solo se dan de baja de sistema</p>
        </div>
        <div class="row">
            @using (Ajax.BeginForm("Delete", "Categorias", new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "categorias",
                InsertionMode = InsertionMode.Replace,
                OnSuccess = "OnDelete"
            }))
            {
                @Html.AntiForgeryToken()

                <div class="col l12 right-align">
                    <button type="button" class="btn-flat white grey-text text-darken-4" onclick="$('#eliminar').modal('close')">Cancelar</button>
                    <input type="submit" value="Eliminar" class="btn-flat white red-text" />
                </div>
            }
        </div>
    </div>
</div>
