<div class="nav-wrapper">
    <div class="col l12">
        <a href="@Url.Action((ViewBag.Title).ToString(),(ViewBag.ControllerGeneral).ToString())" class="breadcrumb">@ViewBag.Title</a>
        <a href="@Url.Action("Index",(ViewBag).SubTitle.ToString())" class="breadcrumb">@ViewBag.SubTitle</a>
    </div>
</div>
