@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="right hide-on-med-and-down option-system">
        <li><a class="dropdown-button" href="#!" data-activates="login"><span class="name"></span><i class="material-icons right">more_vert</i></a></li>
    </ul>

    <ul id="login" class="dropdown-content grey-text text-darken-3">
        <li>@Html.ActionLink("Configuracion de la Cuenta", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
        <li class="divider"></li>
        <li><a href="">configuraciones</a></li>
        <li class="divider"></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
    }
} 
