
@{
    ViewBag.Title = "Catalogos";
}

<div class="catalogos container">
    <div class="row catalogo-items">
        <div class="col l4 center">
            <a href="">
                <figure>
                    <img src="~/Content/system-resources/marca.png" class="responsive-img" />
                    <figcaption>Articulos</figcaption>
                </figure>
            </a>
        </div>
        <div class="col l4 center">
            <a href="">
                <figure>
                    <img src="~/Content/system-resources/marca.png" class="responsive-img" />
                    <figcaption>Categorias</figcaption>
                </figure>
            </a>
        </div>
        <div class="col l4 center">
            <a href="">
                <figure>
                    <img src="~/Content/system-resources/marca.png" class="responsive-img" />
                    <figcaption>Marcas</figcaption>
                </figure>
            </a>
        </div>
    </div>
    <div class="row catalogo-items">
        <div class="col l4 offset-l2 center">
            <a href="">
                <figure>
                    <img src="~/Content/system-resources/marca.png" class="responsive-img" />
                    <figcaption>Proveedores</figcaption>
                </figure>
            </a>
        </div>
        <div class="col l4 center">
            <a href="">
                <figure>
                    <img src="~/Content/system-resources/clientes.png" class="responsive-img" />
                    <figcaption>Clientes</figcaption>
                </figure>
            </a>
        </div>
    </div>
</div>

