
@{
    ViewBag.Title = "Configuracion";
    ViewBag.SubTitle = "Sucursales";
    ViewBag.ControllerGeneral = "Home";
    ViewBag.PrimaryColor = "pink";
    ViewBag.NavExtendedColor = "pink darken-1";
}

<nav class="nav-extended @ViewBag.NavExtendedColor">
    @Html.Partial("_breadcrumbPartial")
</nav>
<div class="row center-align config-title">
    <h3>Vista principal de configuraciones</h3>
    <span class="grey-text text-darken-3">Se presentan una gran variedad de herramientas para configurar la aplicacion</span>
</div>
<div class="row config-content">
    <div class="container-mio">
        <div class="col s4 m4 l4">
            <a href="#">
                <div class="card hoverable">
                    <div class="card-image teal">
                        <img src="images/sample-1.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">Usuarios</span>
                        <p class="grey-text text-darken-2">Breve Descripcion</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s4 m4 l4">
            <a href="#">
                <div class="card hoverable">
                    <div class="card-image teal">
                        <img src="images/sample-1.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">Tipos de Usuarios</span>
                        <p class="grey-text text-darken-2">Breve Descripcion</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s4 m4 l4">
            <a href="#">
                <div class="card hoverable">
                    <div class="card-image teal">
                        <img src="images/sample-1.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">Sucursales</span>
                        <p class="grey-text text-darken-2">Breve Descripcion</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s4 m4 l4">
            <a href="#">
                <div class="card hoverable">
                    <div class="card-image teal">
                        <img src="images/sample-1.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title grey-text text-darken-4">Normativas</span>
                        <p class="grey-text text-darken-2">Breve Descripcion</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>