@model AmilcarComercial.Models.Tbl_Articulo

@{
    Layout = null;
}

<div class="articulo-eliminar cyan">
    <div class="row white z-depth-1">
        <h4 class="grey-text text-darken-3 left-align"><i class="material-icons">add_box</i>Eliminar Articulo</h4>
    </div>
    <div class="modal-content row white-text">
        <div class="row">
            <p>Esta seguro que sea eliminar el elemento <strong>"@Model.nombre_articulo"</strong>?</p>
            <p>Por motivos de seguridad los elementos nose eliminan, solo se dan de baja de sistema</p>
        </div>
        <div class="row">
            @using (Ajax.BeginForm("Delete", "Articulos", new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "articulos",
                InsertionMode = InsertionMode.Replace,
                OnSuccess = "OnDelete"
            }))
            {
                @Html.AntiForgeryToken()

                <div class="col l12 right-align">
                    <button type="button" class="btn-flat white grey-text text-darken-4" onclick="$('#eliminar').modal('close')">Cancelar</button>
                    <input type="submit" value="Eliminar" class="btn-flat white red-text" />
                </div>
            }
        </div>
    </div>
</div>
