
@{
    ViewBag.Title = "Contado";
    ViewBag.SubTitle = "Consulta";
    ViewBag.ControllerGeneral = "Contado";
    ViewBag.PrimaryColor = "blue";
    ViewBag.NavExtendedColor = "blue darken-1";
}

<div class="consulta">
    <div class="consulta-content row">
        <nav class="breadcrumb-nav nav-extended @ViewBag.NavExtendedColor">
            @Html.Partial("_breadcrumbPartial")
        </nav>
        <div class="consulta-opciones col l12">
            <div class="option-bar col l4 offset-l4 white z-depth-1 border-radius-2">
                <div class="form col l11">
                    <div class="input-field col l10">
                        <input id="search" type="search" placeholder="Buscar Compra" required>
                    </div>
                    <div class="col l2 center search">
                        <a onclick="buscar()" class="left tooltipped waves-effect waves-block" data-position="bottomMio" data-delay="50" data-tooltip="Buscar"><i class="material-icons">search</i></a>
                    </div>
                </div>
                <div class="col l1 right-align icons">
                    <a class="tooltipped last" data-position="bottomMio" data-delay="50" data-tooltip="Imprimir" onclick="articulos(0)"><i class="material-icons">print</i></a>
                </div>
            </div>
        </div>
        <div class="detalle-consulta container-mio">
            <div class="vacio col l12 center grey-text text-lighten-1">
                <i class="material-icons">search</i>
                <p>Busca una compra para ver informacion <br /> detallada sobre esta.</p>
            </div>
        </div>
        <div class="col l12 center" id="pre-Consulta" style="padding-top: 50px; display: none;">
            <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p style="margin-top:0">Cargando informacion de la compra..</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    function buscar() {
        var fact = $(".consulta .form #search").val();

        if (fact == "") {
            Materialize.toast("Debe ingresar el numero de factura", 2000);
            return;
        }
        if (!fact.includes("Cont")) {
            Materialize.toast("Debe ingresar una factura referente a una venta al contado", 2000);
            return;
        }
        $(".detalle-consulta .vacio").hide();
        $(".detalle-consulta").empty();
        $("#pre-Consulta").css("display", "inline");
        $.ajax({
            url: '/contado/buscar/' + fact,
            type: 'GET',
            contentType: "application/json",
            'success': function (data) {
                if (data === false) {
                    Materialize.toast("No existe el registro", 3000);
                    $("#pre-Consulta").css("display", "none");
                    $(".detalle-consulta .vacio").show();
                    return;
                }
                $(".detalle-consulta").empty();
                var estado, color;
                if (data.Estado === true) {
                    estado = "Aprovada";
                    color = "green";
                }
                else {
                    estado = "Anulada";
                    color = "red";
                }
                $(".detalle-consulta").append(
                    '<div class="maestro col l10 offset-l1">' +
                    '<div class="col l4" style="padding-left:0">' +
                    '<span>N° Factura: ' + data.Maestro.Factura + '</span>' +
                    '</div>' +
                    '<div class="col l4">' +
                    '<span>Fecha: ' + data.Maestro.Fecha + '</span>' +
                    '</div>' +
                    '<div class="col l4">' +
                    '<span>Estado: <span class="' + color + ' estado white-text">' + estado + '</span></span>' +
                    '</div>' +
                    '<div class="col l4" style="padding-left:0">' +
                    '<span>Cliente: ' + data.Maestro.ClienteN + ' ' + data.Maestro.clienteA + '</span>' +
                    '</div>' +
                    '<div class="col l8">' +
                    '<span>Vendedor: ' + data.Maestro.VendedorN + ' ' + data.Maestro.VendedorA + '</span>' +
                    '</div>' +
                    '<div class="col l3" style="padding-left:0">' +
                    '<span>Articulos: ' + data.Maestro.CantidadTotal + '</span>' +
                    '</div>' +
                    '<div class="col l3">' +
                    '<span>SubTotal: C$' + (data.Maestro.Subtotal).toFixed(2) + '</span>' +
                    '</div>' +
                    '<div class="col l3">' +
                    '<span>Iva: C$' + (data.Maestro.Iva).toFixed(2) + '</span>' +
                    '</div>' +
                    '<div class="col l3">' +
                    '<span>Total: C$' + (data.Maestro.Total).toFixed(2) + '</span>' +
                    '</div>' +
                    '</div>' +
                    '<div class="divider-mio col l10 offset-l1"></div>'
                );
                $(".detalle-consulta").append(
                    '<div class="col l11 offset-l1"><h5>Detalle de la Venta</h5></div>' +
                    '<table class="responsive-table centered white z-depth-1 bordered highlight col l10 offset-l1">' +
                    '<thead>' +
                    '<tr>' +
                    '<th>Nombre</th>' +
                    '<th>Imagen</th>' +
                    '<th>Cantidad</th>' +
                    '<th>Precio</th>' +
                    '<th>Descuento</th>' +
                    '<th>SubTotal</th>' +
                    '</tr>' +
                    '</thead>' +
                    '<tbody>' +
                    '</tbody>' +
                    '</table>'
                );
                $.each(data.Detalle, function (name, value) {
                    $(".detalle-consulta table tbody").append(
                        '<tr>' +
                        '<td>' + value.Articulo + '</td>' +
                        '<td><img src="/Content/images/articulos/' + value.Img + '"></td>' +
                        '<td>' + value.Cantidad + '</td>' +
                        '<td>C$ ' + (value.Precio).toFixed(2) + '</td>' +
                        '<td>C$ ' + (value.Descuento).toFixed(2) + '</td>' +
                        '<td>C$ ' + (value.Subtotal).toFixed(2) + '</td>' +
                        '</tr>'
                    );
                });
                $("#pre-Consulta").css("display", "none");
            },
            'error': function (request, error) {
                $(".detalle-consulta .vacio").show();
                $("#pre-Consulta").css("display", "none");
                Materialize.toast("No existe el registro", 3000);
            }
        });
    }
</script>