
@{
    ViewBag.Title = "Contado";
    ViewBag.SubTitle = "Nueva";
    ViewBag.ControllerGeneral = "Ventas";
    ViewBag.PrimaryColor = "blue";
    ViewBag.NavExtendedColor = "blue darken-1";
}

<div class="contado">
    <div class="contado-content row">
        <nav class="breadcrumb-nav nav-extended @ViewBag.NavExtendedColor">
            @Html.Partial("_breadcrumbPartial")
        </nav>
        <div class="contado-opciones col l12">
            <div class="option-bar col l6 offset-l3 white z-depth-1 border-radius-2">
                <form class="col l10">
                    <div class="input-field col l8">
                        <input id="search" type="search" placeholder="Buscar Venta" required>
                    </div>
                    <div class="input-field col l3 filtro">
                        <select>
                            <option value="" selected>Todo</option>
                            <option value="1">Factura</option>
                            <option value="2">Cliente</option>
                            <option value="3">Fecha</option>
                        </select>
                    </div>
                    <div class="col l1 center search">
                        <a class="left tooltipped waves-effect waves-block" data-position="bottomMio" data-delay="50" data-tooltip="Buscar"><i class="material-icons">search</i></a>
                    </div>
                </form>
                <div class="col l2 center-align icons">
                    <a class="tooltipped last" data-position="bottomMio" data-delay="50" data-tooltip="Vista de cuadricula" onclick="articulos(0)"><i class="material-icons">view_module</i></a>
                    <a class="tooltipped info-sidenav" data-position="bottomMio" data-delay="50" data-tooltip="Ver detalles"><i class="material-icons">info</i></a>
                </div>
            </div>
        </div>
        <div class="listado-contado container-mio">
            <table class="bordered highlight white z-depth-1">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Factura</th>
                        <th>Estado</th>
                        <th>Cliente</th>
                        <th>Fecha</th>
                        <th>Articulos</th>
                        <th>Pago Total</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="paginacion col l12 center">
            <ul class="pagination">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
    </div>
    <aside class="contado-details show white z-depth-1">
        <div class="row z-depth-1-half">
            <div class="col l12 blue darken-1 title">
                <h5><i class="material-icons left">business_center</i>Detalle de Venta<i class="material-icons right info-sidenav">clear</i></h5>
            </div>
            <div class="col l12 blue darken-1">
                <ul class="tabs blue darken-1">
                    <li class="tab col l6"><a class="active" href="#general">General</a></li>
                    <li class="tab col l6"><a href="#detalle">Detalle</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div id="general" class="general col s12"></div>
            <div id="detalle" class="detalle col s12"></div>
        </div>
    </aside>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light green pulse" href="@Url.Action("Nueva","Contado")"><i class="material-icons">add</i></a>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".contado .info-sidenav").click(function () {
                if ($(".contado .contado-details").hasClass('show')) {
                    $(".contado .contado-details").css("right", "0px");
                    $(".contado .contado-content").css("padding", "0 280px 0 0");
                    $(".contado .contado-details").toggleClass('show hiden');
                }
                else if ($(".contado .contado-details").hasClass('hiden')) {
                    $(".contado .contado-details").css("right", "-300px");
                    $(".contado .contado-content").css("padding", "0");
                    $(".contado .contado-details").toggleClass('show hiden');
                    $(".contado .listado-contado table tbody .item").removeClass("active");
                    vacio();
                }
            });
            $('ul.tabs').tabs();
            $('select').material_select();
            listaVentas();
            vacio();
            $(".contado .listado-contado table tbody").on('click', '.item', function () {
                $(".contado .listado-contado table tbody .item").removeClass("active");
                $(this).addClass("active");
            });
            $('.contado .contado-content, .contado .contado-content .contado-opciones, .contado .contado-content .paginacion').on('click', function (e) {
                if (e.target !== this)
                    return;
                $(".contado .listado-contado table tbody .item").removeClass("active");
                vacio();
            });
        });
        function listaVentas() {
            $.ajax({
                url: '/contado/listaventas',
                type: 'GET',
                contentType: "application/json",
                dataType: "json",
                'success': function (data) {
                    $(".listado-contado table tbody").empty();
                    $.each(data, function () {
                        $.each(this, function (name, value) {
                            var estado, color;
                            if (value.Estado === true) {
                                estado = "Aprovada";
                                color = "green";
                            }
                            else {
                                estado = "Anulada";
                                color = "red";
                            }
                            $(".listado-contado table tbody").append(
                                '<tr class="item" onclick="informacionVenta(' + value.ID + ')">' +
                                '<td>' + value.Venta + '</td>' +
                                '<td>' + value.Factura + '</td>' +
                                '<td><span class="' + color + ' badge estado">' + estado + '</span></td>' +
                                '<td>' + value.ClienteNom + ' ' + value.ClienteApell + '</td>' +
                                '<td>' + value.Fecha + '</td>' +
                                '<td>' + value.Articulos + ' Unidades</td>' +
                                '<td>C$ ' + value.PagoTotal + '</td>' +
                                '</tr>'
                            );
                        });
                    });
                },
                'error': function (request, error) {
                    alert("Request: " + JSON.stringify(request));
                }
            });
        }
        function vacio() {
            $(".contado-details .general").empty();
            $(".contado-details .detalle").empty();
            $(".contado-details .general").append(
                '<div class="no-selected">' +
                '<div class="center">' +
                '<i class="grey-text text-darken-1 material-icons large">touch_app</i>' +
                '</div>' +
                '<p class="no center-align grey-text text-darken-1">No a seleccionado ni un venta para ver la informacion</p>' +
                '</div>'
            );
            $(".contado-details .detalle").append(
                '<div class="no-selected">' +
                '<div class="center">' +
                '<i class="grey-text text-darken-1 material-icons large">touch_app</i>' +
                '</div>' +
                '<p class="no center-align grey-text text-darken-1">No a seleccionado ni un venta para ver la informacion</p>' +
                '</div>'
            );
        }
        function informacionVenta(id) {
            var id = id;
            detalleVentaGeneral(id);
            detalleVentaEspecifico(id);
        }
        function detalleVentaGeneral(id) {
            $.ajax({
                url: '/contado/detalleventa/general/' + id,
                type: 'GET',
                contentType: "application/json",
                dataType: "json",
                'success': function (data) {
                    $(".contado-details .general").empty();
                    $.each(data, function () {
                        $.each(this, function (name, value) {
                            $(".contado-details .general").append(
                                '<div>' +
                                '<p><span class="left">N° Venta</span>' + value.Venta + '</p>' +
                                '<p><span class="left">N° Factura</span>' + value.Factura + '</p>' +
                                '<p><span class="left">Vendedor</span>' + value.Usuario + '</p>' +
                                '<p><span class="left">Cliente</span>' + value.ClienteN + ' ' + value.ClienteA + '</p>' +
                                '<p><span class="left">Sucursal</span>' + value.Sucursal + '</p>' +
                                '<p><span class="left">Fecha</span>' + value.Fecha + '</td>' +
                                '<p><span class="left">Tipos Articulos</span>' + value.Articulos + '</p>' +
                                '<p><span class="left">Cantidad Articulos</span>' + value.CantidadTotal + ' Unds</p>' +
                                '<p><span class="left">SubTotal</span>C$ ' + value.SubTotal + '</p>' +
                                '<p><span class="left">Iva %</span>' + value.Iva + '%</p>' +
                                '<p><span class="left">Iva Total</span>C$ ' + value.Iva + '</p>' +
                                '<p><span class="left">Descuento Total</span>C$ ' + value.DescuentoTotal + '</p>' +
                                '<p><span class="left">Pago Total</span>C$ ' + value.PagoTotal + '</p>' +
                                '</div>'
                            );
                        });
                    });
                },
                'error': function (request, error) {
                    alert("Request: " + JSON.stringify(request));
                }
            });
        }
        function detalleVentaEspecifico(id) {
            $.ajax({
                url: '/contado/detalleventa/especifico/' + id,
                type: 'GET',
                contentType: "application/json",
                dataType: "json",
                'success': function (data) {
                    $(".contado-details .detalle").empty();
                    $.each(data, function () {
                        $.each(this, function (name, value) {
                            $(".contado-details .detalle").append(
                                '<div class="individual col l12">' +
                                '<div class="col l2">' +
                                '<img src="/Content/images/articulos/' + value.Img + '">' +
                                '</div>' +
                                '<div class="col l10">' +
                                '<p class="name"><strong>' + value.Articulo + '</strong></p>' +
                                '<p class="cate">' + value.Categoria + '</p>' +
                                '</div>' +
                                '<div class="col l12">' +
                                '<p><span>Cant: ' + value.Cantidad + ' </span>' + '<span class="right">Costo: ' + value.Costo + '</span>' + '</p>' +
                                '<p><span>SubTotal: ' + value.SubTotal + ' </span>' + '<span class="right">Total: ' + value.Total + '</span>' + '</p>' +
                                '</div>' +
                                '</div>' +
                                '<div class="col l12 divider-mio"></div>'
                            );
                        });
                    });
                },
                'error': function (request, error) {
                    alert("Request: " + JSON.stringify(request));
                }
            });
        }
    </script>    
}