@{
    ViewBag.Title = "Apartado";
    ViewBag.SubTitle = "Nuevo";
    ViewBag.ControllerGeneral = "Apartado";
    ViewBag.PrimaryColor = "blue";
    ViewBag.NavExtendedColor = "blue darken-1";
}

<nav class="breadcrumb-nav nav-extended @ViewBag.NavExtendedColor">
    @Html.Partial("_breadcrumbPartial")
</nav>

<div class="nuevo-apartado row">
    <div class="row">
        <div class="cliente col l5">
            <div class="row white z-depth-1">
                <div class="opcionesCliente col l12">
                    <p>
                        <strong>Datos del Cliente</strong>
                        <a class="right tooltipped" data-position="bottomMio" data-delay="50" data-tooltip="Eliminar Cliente" onclick="eliminarCliente()"><i class="material-icons">clear</i></a>
                        <a class="right tooltipped" data-position="bottomMio" data-delay="50" data-tooltip="Buscar Cliente" onclick="clientes()"><i class="material-icons">search</i></a>
                        <a class="right tooltipped" data-position="bottomMio" data-delay="50" data-tooltip="Editar Cliente" onclick="editarCliente()"><i class="material-icons">edit</i></a>
                        <a class="right tooltipped" data-position="bottomMio" data-delay="50" data-tooltip="Detalles del Cliente" onclick="detallesCliente()"><i class="material-icons">info</i></a>
                    </p>
                </div>
                <div class="divider-mio"></div>
                <div class="datosCliente col l12"></div>
                <div class="col l12 center" id="pre-Cliente" style="padding-top: 10px; display: none;">
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <p style="margin-top:0">Cargando datos del cliente..</p>
                </div>
            </div>
        </div>
        <div class="general col l4">
            <div class="row white z-depth-1">
                <div class="col l12">
                    <p><strong>Informacion General</strong></p>
                </div>
                <div class="divider-mio"></div>
                <div class="col l12">
                    <div class="datosGenerales"></div>
                    <div class="col l12 center" id="pre-General" style="padding-top: 10px; display: none;">
                        <div class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-blue-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                        <p style="margin-top:0">Cargando datos de la venta..</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="preferencias col l3">
            <div class="row white z-depth-1">
                <div class="col l12">
                    <p><strong>Preferencias</strong></p>
                </div>
                <div class="divider-mio"></div>
                <div class="opciones col l12">
                    <div class="input-field col l6">
                        <select id="iva">
                            <option value="0">0%</option>
                            <option value="5">5%</option>
                            <option value="10">10%</option>
                            <option selected value="15">15%</option>
                        </select>
                        <label>Iva</label>
                    </div>
                    <div class="input-field col l6">
                        <select>
                            <option value="0">Efectivo</option>
                            <option value="5">Tarjeta</option>
                            <option value="10">Ambos</option>
                        </select>
                        <label>Tipo de Pago</label>
                    </div>
                    <div class="input-field col l6 hide">
                        <input placeholder="Placeholder" id="N_factura" name="N_factura" type="text" disabled>
                        <label for="N_factura">N° Factura</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="articulosApartado col l12">
            <div class="head col l12 white z-depth-1">
                <div class="opcionesArticulos col l12">
                    <p class="col l6">
                        <strong>Lista de Articulos a Vender</strong>
                    </p>
                    <div class="acciones col l6">
                        <div>
                            <a class="right tooltipped" data-position="bottomMio" data-delay="50" data-tooltip="Seleccionar Producto" onclick="articulos(1)"><i class="material-icons">add_shopping_cart</i></a>
                            <a class="delete right tooltipped" data-position="bottomMio" data-delay="50" data-tooltip="Vaciar Orden" onclick="$('#eliminartodos').modal('open');"><i class="material-icons">delete_forever</i></a>
                            <a class="table-v right tooltipped" data-position="bottomMio" data-delay="50" data-tooltip="Vista de Lista" onclick="mostrarProductosTmp(1)"><i class="material-icons">view_list</i></a>
                            <a class="card-v right tooltipped" data-position="bottomMio" data-delay="50" data-tooltip="Vista de Cuadricula" onclick="mostrarProductosTmp(0)"><i class="material-icons">view_module</i></a>
                            <a class="search right tooltipped" data-position="bottomMio" data-delay="50" data-tooltip="Buscar Producto en Lista"><i class="material-icons">search</i></a>
                        </div>
                        <input placeholder="Buscar por nombre o codigo" id="first_name" type="text" class="right" width="100">
                    </div>
                </div>                
            </div>
            <div class="articulos-orden"></div>
            <div class="col l12 center" id="pre-ArticulosOrden" style="padding-top: 10px; display: none;">
                <div class="preloader-wrapper small active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <p style="margin-top:0">Cargando articulos de la orden..</p>
            </div>
        </div>
        <div class="detalle col l12">
            <div class="col l12 blue z-depth-1">
                <div class="detalles col l6 white-text">
                </div>
                <div class="info2 col l4 right-align">
                    <span class="total"></span>
                </div>
                <div class="acciones col l2 center-align">
                    <a class="btn white red-text tooltipped" data-position="top" data-delay="50" data-tooltip="Cancelar Venta" onclick="$('#cancelarVenta').modal('open');"><i class="material-icons">remove_shopping_cart</i></a>
                    <a id="vender" class="btn white blue-text tooltipped" data-position="top" data-delay="50" data-tooltip="Realizar Venta" onclick="facturar()"><i class="material-icons">shopping_cart</i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-apartado">
    <div id="articulos" class="modal modal-giant">
        <div class="articulos blue">
            <div class="row white z-depth-1">
                <h4 class="grey-text text-darken-3 left-align">
                    <i class="material-icons">search</i>Buscar Articulo
                    <i class="material-icons modal-close right">clear</i>
                </h4>
            </div>
            <div class="modal-content row">
                <div class="col l12">
                    <div class="option-bar col l6 offset-l3 white z-depth-1 border-radius-2">
                        <form class="col l9">
                            <div class="input-field">
                                <input id="search" type="search" placeholder="Buscar Articulo" required>
                            </div>
                        </form>
                        <div class="col l3">
                            <a class="tooltipped card-v" data-position="bottomMio" data-delay="50" data-tooltip="Vista de cuadricula" onclick="articulos(0)"><i class="material-icons">view_module</i></a>
                            <a class="tooltipped table-v" data-position="bottomMio" data-delay="50" data-tooltip="Vista de lista" onclick="articulos(1)"><i class="material-icons">view_list</i></a>
                            <a class="tooltipped" data-position="bottomMio" data-delay="50" data-tooltip="Actualizar"><i class="material-icons">refresh</i></a>
                            <a class="tooltipped dropdown-button" href="#!" data-activates="dropdown1" data-position="bottomMio" data-delay="50" data-tooltip="Opciones">
                                <i class="material-icons right">more_vert</i>
                            </a>
                            <!-- Dropdown Structure -->
                            <ul id='dropdown1' class='dropdown-content'>
                                <li><a href="#!">one</a></li>
                                <li><a href="#!">two</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="lista-articulos"></div>
                <div class="col l12 center" id="pre-Articulos" style="padding-top: 30px; padding-bottom: 20px; display: none;">
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-white-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <p class="white-text" style="margin-top:0">Cargando lista de articulos..</p>
                </div>
                <div class="col l12 center">
                    <ul class="pagination">
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <li class="active"><a href="#!">1</a></li>
                        <li class="waves-effect"><a href="#!">2</a></li>
                        <li class="waves-effect"><a href="#!">3</a></li>
                        <li class="waves-effect"><a href="#!">4</a></li>
                        <li class="waves-effect"><a href="#!">5</a></li>
                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="clientes" class="modal">
        <div class="clientes blue">
            <div class="row white z-depth-1">
                <h4 class="grey-text text-darken-3 left-align">
                    <i class="material-icons">search</i>
                    Buscar Cliente
                    <i class="salir material-icons right" onclick="CancelClientes()">clear</i>
                </h4>
            </div>
            <div class="modal-content row white-text">
                <div class="col l12">
                    <div class="option-bar col l8 offset-l2 white z-depth-1 border-radius-2">
                        <form class="col l9">
                            <div class="input-field">
                                <input id="search" type="search" placeholder="Buscar Cliente" required>
                            </div>
                        </form>
                        <div class="col l3">
                            <a class="hide tooltipped" data-position="bottomMio" data-delay="50" data-tooltip="Vista de cuadricula"><i class="material-icons">view_module</i></a>
                            <a class="tooltipped" data-position="bottomMio" data-delay="50" data-tooltip="Vista de lista"><i class="material-icons">view_list</i></a>
                            <a class="tooltipped" data-position="bottomMio" data-delay="50" data-tooltip="Actualizar"><i class="material-icons">refresh</i></a>
                            <a class="tooltipped dropdown-button" href="#!" data-activates="dropdown1" data-position="bottomMio" data-delay="50" data-tooltip="Opciones">
                                <i class="material-icons right">more_vert</i>
                            </a>
                            <!-- Dropdown Structure -->
                            <ul id='dropdown1' class='dropdown-content'>
                                <li><a href="#!">one</a></li>
                                <li><a href="#!">two</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="lista-clientes"></div>
                <div class="col l12 center" id="pre-Clientes" style="padding-top: 30px; padding-bottom: 20px; display: none;">
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-white-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <p class="white-text" style="margin-top:0">Cargando lista de clientes..</p>
                </div>
                <div class="col l12 center">
                    <ul class="pagination">
                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                        <li class="active"><a href="#!">1</a></li>
                        <li class="waves-effect"><a href="#!">2</a></li>
                        <li class="waves-effect"><a href="#!">3</a></li>
                        <li class="waves-effect"><a href="#!">4</a></li>
                        <li class="waves-effect"><a href="#!">5</a></li>
                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="nuevoCliente" class="modal modal-middle">
        <div class="nuevoCliente blue">
            <div class="row white z-depth-1">
                <h4 class="grey-text text-darken-3 left-align">
                    <i class="material-icons">search</i>
                    Agregar Cliente
                    <i class="salir material-icons right" onclick="$('#nuevoCliente').modal('close');">clear</i>
                </h4>
            </div>
            <div class="modal-content row white-text">
                <div class="col l3">
                    <img src="~/Content/system-resources/clientes.png" class="responsive-img" />
                </div>
                <div class="col l9">
                    <div class="input-field col l6">
                        <input placeholder="" id="nombre_cliente" name="nombre_cliente" type="text">
                        <label for="nombre_cliente">Nombre</label>
                    </div>
                    <div class="input-field col l6">
                        <input placeholder="" id="apellidos_cliente" name="apellidos_cliente" type="text">
                        <label for="apellidos_cliente">Apellidos</label>
                    </div>
                    <div class="input-field col l4">
                        <input placeholder="" id="cedula" name="cedula" type="text" class="validate">
                        <label for="cedula">Cedula</label>
                    </div>
                    <div class="input-field col l4">
                        <input placeholder="" id="telefono" name="telefono" type="text" class="validate">
                        <label for="telefono">Telefono</label>
                    </div>
                    <div class="input-field col l4">
                        <input placeholder="" id="departamento" name="departamento" type="text" class="validate">
                        <label for="departamento">Departamento</label>
                    </div>
                    <div class="input-field col l12">
                        <input placeholder="" id="direccion" name="direccion" type="text" class="validate">
                        <label for="direccion">Direccion</label>
                    </div>
                    <div class="col l12 right-align">
                        <br />
                        <button class="btn btn-flat white pink-text" type="button" onclick="$('#nuevoCliente').modal('close');">Cancelar</button>
                        <button class="btn btn-flat white blue-text" type="button" onclick="agregarClienteTmp()">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="editarCliente" class="modal modal-middle">
        <div class="editarCliente blue">
            <div class="row white z-depth-1">
                <h4 class="grey-text text-darken-3 left-align">
                    <i class="material-icons">search</i>
                    Editar Cliente
                    <i class="salir material-icons right" onclick="$('#editarCliente').modal('close');">clear</i>
                </h4>
            </div>
            <div class="modal-content row white-text">
                <div class="col l3">
                    <img src="~/Content/system-resources/clientes.png" class="responsive-img" />
                </div>
                <div class="col l9">
                    <div class="input-field col l6">
                        <input placeholder="" id="nombre_cliente" name="nombre_cliente" type="text">
                        <label for="nombre_cliente">Nombre</label>
                    </div>
                    <div class="input-field col l6">
                        <input placeholder="" id="apellidos_cliente" name="apellidos_cliente" type="text">
                        <label for="apellidos_cliente">Apellidos</label>
                    </div>
                    <div class="input-field col l4">
                        <input placeholder="" id="cedula" name="cedula" type="text" class="validate">
                        <label for="cedula">Cedula</label>
                    </div>
                    <div class="input-field col l4">
                        <input placeholder="" id="telefono" name="telefono" type="text" class="validate">
                        <label for="telefono">Telefono</label>
                    </div>
                    <div class="input-field col l4">
                        <input placeholder="" id="departamento" name="departamento" type="text" class="validate">
                        <label for="departamento">Departamento</label>
                    </div>
                    <div class="input-field col l12">
                        <input placeholder="" id="direccion" name="direccion" type="text" class="validate">
                        <label for="direccion">Direccion</label>
                    </div>
                    <div class="col l12 right-align">
                        <br />
                        <button class="btn btn-flat white pink-text" type="button" onclick="$('#editarCliente').modal('close');">Cancelar</button>
                        <button class="btn btn-flat white blue-text" type="button" onclick="editarClienteTmp()">Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="detalleCliente" class="modal modal-middle">
        <div class="detalleCliente blue">
            <div class="row white z-depth-1">
                <h4 class="grey-text text-darken-3 left-align">
                    <i class="material-icons">info</i>
                    Detalle Cliente
                    <i class="salir material-icons right" onclick="$('#detalleCliente').modal('close');">clear</i>
                </h4>
            </div>
            <div class="modal-content row white-text">
                <div class="col l3">
                    <img src="~/Content/system-resources/clientes.png" class="responsive-img" />
                </div>
                <div class="detalle col l9"></div>
            </div>
        </div>
    </div>
    <div id="eliminartodos" class="modal modal-mini">
        <div class="eliminartodos blue">
            <div class="row white z-depth-1">
                <h4 class="grey-text text-darken-3 left-align">
                    <i class="material-icons">delete_forever</i>
                    Vaciar orden
                    <i class="salir modal-close material-icons right">clear</i>
                </h4>
            </div>
            <div class="modal-content">
                <p class="white-text">Esta seguro que desea eliminar todos los articulos agregados en la orden?</p>
                <div class="col l12 right-align">
                    <a class="modal-action modal-close waves-effect waves-light  btn-flat white red-text">Cancelar</a>
                    <a class="modal-action modal-close waves-effect waves-light btn-flat white blue-text" onclick="eliminarProductosTodos()">Aceptar</a>
                </div>
            </div>
        </div>
    </div>
    <div id="cancelarVenta" class="modal modal-mini">
        <div class="cancelarVenta blue">
            <div class="row white z-depth-1">
                <h4 class="grey-text text-darken-3 left-align">
                    <i class="material-icons">cancel</i>
                    Cancelar Venta
                    <i class="salir modal-close material-icons right">clear</i>
                </h4>
            </div>
            <div class="modal-content">
                <p class="white-text">Esta seguro que desea cancelar la venta?</p>
                <div class="col l12 right-align">
                    <a class="modal-action modal-close waves-effect waves-light  btn-flat white red-text">Cancelar</a>
                    <a class="modal-action waves-effect waves-light btn-flat white blue-text" onclick="cancelarVenta()">Aceptar</a>
                </div>
            </div>
        </div>
    </div>
    <div id="calcularVuelto" class="modal modal-mini">
        <div class="calcularVuelto blue">
            <div class="row white z-depth-1">
                <h4 class="grey-text text-darken-3 left-align">
                    <i class="material-icons">monetization_on</i>
                    Calcular Vuelto
                    <i class="salir modal-close material-icons right">clear</i>
                </h4>
            </div>
            <div class="modal-content">
                <div class="row" style="margin-bottom: 0">
                    <div class="input-field col l6">
                        <input placeholder="Cantidad a pagar" id="total" type="text" disabled>
                        <label for="total">Total a pagar</label>
                    </div>
                    <div class="input-field col l6">
                        <input placeholder="Cantidad con que pago" id="pago" type="text">
                        <label for="pago">Pago</label>
                    </div>
                    <div class="input-field col l6">
                        <select>
                            <option selected value="1">Cordobas</option>
                            <option value="2">Dolares</option>
                        </select>
                        <label>Moneda</label>
                    </div>
                    <div class="input-field col l6">
                        <input placeholder="Cantidad a retornar" id="cambio" type="text" disabled>
                        <label for="cambio">Cambio</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/apartado")
}