
@{
    ViewBag.Title = "Kardex";
    ViewBag.SubTitle = "Kardex";
    ViewBag.ControllerGeneral = "Ventas";
    ViewBag.PrimaryColor = "blue";
    ViewBag.NavExtendedColor = "blue darken-1";
}

<div class="kardex">
    <div class="kardex-content row">
        <nav class="breadcrumb-nav nav-extended @ViewBag.NavExtendedColor">
            @Html.Partial("_breadcrumbPartial")
        </nav>
        <div class="kardex-opciones col l12">
            <div class="option-bar col l6 offset-l3 white z-depth-1 border-radius-2">
                <form class="col l10">
                    <div class="input-field col l8">
                        <input id="search" type="search" placeholder="Buscar Articulo" required>
                    </div>
                    <div class="input-field col l3 filtro">
                        <select>
                            <option value="" selected>Todo</option>
                            <option value="1">Factura</option>
                            <option value="2">Proveedor</option>
                            <option value="3">Fecha</option>
                        </select>
                    </div>
                    <div class="col l1 center search">
                        <a class="left tooltipped waves-effect waves-block" data-position="bottomMio" data-delay="50" data-tooltip="Buscar"><i class="material-icons">search</i></a>
                    </div>
                </form>
                <div class="col l2 center-align icons">
                    <a class="tooltipped last" data-position="bottomMio" data-delay="50" data-tooltip="Vista de cuadricula" onclick="articulos(0)"><i class="material-icons">view_module</i></a>
                    <a class="tooltipped info-sidenav" data-position="bottomMio" data-delay="50" data-tooltip="Imprimir"><i class="material-icons">print</i></a>
                </div>
            </div>
        </div>
        <div class="listado-kardex container-mio">
            <table class="bordered highlight centered white z-depth-1">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Imagen</th>
                        <th>Articulo</th>
                        <th>Categoria</th>
                        <th>Ultima Entrada</th>
                        <th>Ultima Salida</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="paginacion col l12 center">
            <ul class="pagination">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
    </div>  
</div>

<div class="modal-kardex">
    <div id="kardex" class="modal modal-giant">
        <div class="kardex blue">
            <div class="row white z-depth-1">
                <h4 class="grey-text text-darken-3 left-align"><i class="material-icons">info</i>
                <span></span>
                <i class="material-icons modal-close right">clear</i></h4>
            </div>
            <div class="modal-content row">
                <div class="col l12">
                    <div class="option-bar col l6 offset-l3 white z-depth-1 border-radius-2">
                        <form class="col l12">
                            <div class="input-field">
                                <input id="search" type="search" placeholder="Buscar Registro" required>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="lista-kardex">
                    <table class="bordered highlight centered white z-depth-1">
                        <thead>
                            <tr>
                                <th>Factura</th>
                                <th>Fecha</th>
                                <th>Tipo</th>
                                <th>Entrada</th>
                                <th>Salida</th>
                                <th>Observaciones</th>
                                <th>Usuario</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            listaKardex();
        });
        function listaKardex() {
            $.ajax({
                url: '/kardex/lista',
                type: 'GET',
                contentType: "application/json",
                dataType: "json",
                'success': function (data) {
                    $(".listado-kardex table tbody").empty();
                    $.each(data, function () {
                        $.each(this, function (name, value) {
                            $(".listado-kardex table tbody").append(
                                '<tr onclick="informacionVenta(' + value.ID + ')">' +
                                '<td>' + value.Cod + '</td>' +
                                '<td>' + '<img src="/Content/images/articulos/' + value.Imagen + '">' + '</td>' +
                                '<td>' + value.Articulo + '</td>' +
                                '<td>' + value.Categoria + '</td>' +
                                '<td>' + value.EntradaFecha + '</td>' +
                                '<td>' + value.SalidaFecha + '</td>' +
                                '<td><i class="material-icons" onclick="detalleKardex(' + value.ID + ')">info</i></td>' +
                                '</tr>'
                            );
                        });
                    });
                },
                'error': function (request, error) {
                    alert("Request: " + JSON.stringify(request));
                }
            });
        }
        function detalleKardex(id) {
            $('#kardex').modal('open');
            $.ajax({
                url: '/kardex/detalle/' + id,
                type: 'GET',
                contentType: "application/json",
                dataType: "json",
                'success': function (data) {
                    $(".lista-kardex table tbody").empty();
                    $.each(data, function () {
                        $.each(this, function (name, value) {
                            var color;
                            if (value.Observacion.includes('Aprovada')) {
                                color = "green";
                            }
                            else if (value.Observacion.includes('Anulada')) {
                                color = "red";
                            }
                            $(".modal-kardex .kardex h4 span").text("Detalle de " + value.Articulo);
                            $(".lista-kardex table tbody").append(
                                '<tr>' +
                                '<td>' + value.NumFact + '</td>' +
                                '<td>' + value.Fecha + '</td>' +
                                '<td>' + value.Tipo + '</td>' +
                                '<td>' + value.Entrada + '</td>' +
                                '<td>' + value.Salida + '</td>' +
                                '<td><span class="obs white-text ' + color + '">' + value.Observacion + '</span></td>' +
                                '<td>' + value.Nombre + ' ' + value.Apellido + '</td>' +
                                '</tr>'
                            );
                        });
                    });
                },
                'error': function (request, error) {
                    alert("Request: " + JSON.stringify(request));
                }
            });
        }
    </script>
}