
@{
    ViewBag.Title = "Configuracion";
    ViewBag.SubTitle = "> Tipos de Usuarios";
}

<nav class="nav-extended pink lighten-1">
    <div class="nav-wrapper">
        <a class="breadcrumb truncate">Configuracion @ViewBag.Subtitle</a>
    </div>
</nav>
<div class="row"> 
    <div class="container2">
        <div class="col l12 m12 s12">
            <p class="flow-text truncate">Tipos de usuarios disponibles en el sistema.</p>
        </div>
        <div class="col l6 m12 s12">
            <div class="card horizontal">
                <div class="card-image col l4 m3 hide-on-small-and-down pink">
                    <img src="https://lorempixel.com/100/190/nature/6">
                </div>
                <div class="card-stacked col l8 m9 s12">
                    <div class="card-content">
                        <p class="card-title truncate">Vendedor</p>
                        <p>I am a very simple card. I am good at containing small bits of information.</p>
                        <a class="waves-effect waves-teal btn-flat right">Agregar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l6 m12 s12">
            <div class="card horizontal">
                <div class="card-image col l4 m3 hide-on-small-and-down pink">
                    <img src="https://lorempixel.com/100/190/nature/6">
                </div>
                <div class="card-stacked col l8 m9 s12">
                    <div class="card-content">
                        <p class="card-title truncate">Administrador</p>
                        <p>I am a very simple card. I am good at containing small bits of information.</p>
                        <a class="waves-effect waves-teal btn-flat right">Agregar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col l6 m12 s12">
            <div class="card horizontal">
                <div class="card-image col l4 m3 hide-on-small-and-down pink">
                    <img src="https://lorempixel.com/100/190/nature/6">
                </div>
                <div class="card-stacked col l8 m9 s12">
                    <div class="card-content">
                        <p class="card-title truncate">SuperAdministrador</p>
                        <p>I am a very simple card. I am good at containing small bits of information.</p>
                        <a class="waves-effect waves-teal btn-flat right">Agregar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
