
@{
    ViewBag.Title = "Ventas";
    ViewBag.SubTitle = "Nueva";
    ViewBag.ControllerGeneral = "Ventas";
    ViewBag.PrimaryColor = "blue";
    ViewBag.NavExtendedColor = "blue darken-1";
}

<div class="ventas">
    <div class="ventas-content">
        <nav class="nav-extended @ViewBag.NavExtendedColor">
            @Html.Partial("_breadcrumbPartial")
        </nav>
        swerwe
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light green pulse" href="@Url.Action("Nueva","Ventas")"><i class="material-icons">add</i></a>
        </div>
    </div>

    @*<aside class="ventas-details">
        khgjhkg
    </aside>*@
</div>