
@{
    ViewBag.Title = "Ventas";
    ViewBag.SubTitle = "Nueva";
    ViewBag.ControllerGeneral = "Ventas";
    ViewBag.PrimaryColor = "blue";
    ViewBag.NavExtendedColor = "blue darken-1";
}

<div class="ventas">
    <div class="ventas-content row">
        <nav class="nav-extended @ViewBag.NavExtendedColor">
            @Html.Partial("_breadcrumbPartial")
        </nav>
        <div class="ventas-opciones col l12">
            <div class="option-bar col l6 offset-l3 white z-depth-1 border-radius-2">
                <form class="col l9">
                    <div class="input-field">
                        <input id="search" type="search" placeholder="Buscar Venta" required>
                    </div>
                </form>
                <div class="col l3">
                    <a class="tooltipped" data-position="bottomMio" data-delay="50" data-tooltip="Vista de cuadricula" onclick="articulos(0)"><i class="material-icons">view_module</i></a>
                    <a class="tooltipped info-sidenav show" data-position="bottomMio" data-delay="50" data-tooltip="Ver detalles"><i class="material-icons">info</i></a>
                    <a class="tooltipped" data-position="bottomMio" data-delay="50" data-tooltip="Actualizar"><i class="material-icons">refresh</i></a>
                    <a class="tooltipped dropdown-button" href="#!" data-activates="dropdown1" data-position="bottomMio" data-delay="50" data-tooltip="Opciones">
                        <i class="material-icons right">more_vert</i>
                    </a>
                    <!-- Dropdown Structure -->
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="#!">one</a></li>
                        <li><a href="#!">two</a></li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="listado-ventas container-mio">
            <table class="bordered highlight white z-depth-1">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Factura</th>
                        <th>Cliente</th>
                        <th>Fecha</th>
                        <th>Tipo Venta</th>
                        <th>Articulos</th>
                        <th>Pago Total</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="col l12 center">
            <ul class="pagination">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="active"><a href="#!">1</a></li>
                <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li>
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
    </div>

    <aside class="ventas-details white z-depth-1">
        <div class="row z-depth-1-half">
            <div class="col l12 blue darken-1 title">
                <h5><i class="material-icons left">business_center</i>Detalle de Venta<i class="material-icons right info-sidenav">clear</i></h5>
            </div>
            <div class="col l12 blue darken-1">
                <ul class="tabs blue darken-1">
                    <li class="tab col l6"><a class="active" href="#general">General</a></li>
                    <li class="tab col l6"><a href="#detalle">Detalle</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div id="general" class="general col s12"></div>
            <div id="detalle" class="detalle col s12"></div>
        </div>
    </aside>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light green pulse" href="@Url.Action("Nueva","Ventas")"><i class="material-icons">add</i></a>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".ventas .ventas-opciones .info-sidenav").click(function () {
                if ($(this).hasClass('show')) {
                    $(".ventas .ventas-details").css("right", "0px");
                    $(".ventas .ventas-content").css("padding", "0 280px 0 0");
                    $(".ventas .ventas-opciones .info-sidenav").toggleClass('show hiden');
                }
                else if ($(this).hasClass('hiden'))
                {
                    $(".ventas .ventas-details").css("right", "-300px");
                    $(".ventas .ventas-content").css("padding", "0");
                    $(".ventas .ventas-opciones .info-sidenav").toggleClass('show hiden');
                }
            });
            listaVentas();
        });
        function listaVentas() {
            $.ajax({
                url: '/ventas/listaventas',
                type: 'GET',
                contentType: "application/json",
                dataType: "json",
                'success': function (data) {
                    $(".listado-ventas table tbody").empty();
                    $.each(data, function () {
                        $.each(this, function (name, value) {
                            $(".listado-ventas table tbody").append(
                                '<tr onclick="informacionVenta(' + value.ID + ')">' +
                                '<td>' + value.Venta + '</td>' +
                                '<td>' + value.Factura + '</td>' +
                                '<td>' + value.ClienteNom + ' ' + value.ClienteApell + '</td>' +
                                '<td>' + value.Fecha + '</td>' +
                                '<td>' + value.Tipo + '</td>' +
                                '<td>' + value.Articulos + ' Unidades</td>' +
                                '<td>C$ ' + value.PagoTotal + '</td>' +
                                '</tr>'
                            );
                        });
                    });
                },
                'error': function (request, error) {
                    alert("Request: " + JSON.stringify(request));
                }
            });
        }
    </script>    
}